*~
\#*
.\#*
*.elc
.cache/
.mc-lists.el
/.session
auto-save-list/
custom.el
eaf/
elpa/
eshell/
network-security.data
projectile-bookmarks.eld
projectile.cache
semanticdb/
server/
site-lisp/
/session.*
todo.org
transient/
url/
__pycache__/